 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    text-align: center;
}

body{
    font: 400 18px Roboto, sans-serif;
    background-color: rgba(121, 65, 177, 0.3) ;
    
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #9c54a5;
    height: 100%;
}

form {
    justify-content: center;
    width: 80%;
    margin:0 auto 10px;
    align-items: center;
    align-content: center;
}

input, button, textarea{
    font: 400 18px Roboto, sans-serif;
}


h1{
    font-size: 30px;
    color: rgb(21, 9, 97);
}

button{
    background-color: rgba(121, 65, 177); /* Green */
    border: none;
    color: white;
    padding: 10px;
    margin: 4px 2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    
  }

p{
    font-size: 20px;
}